<% if !@is_hidden_top_tabbar %>
  <div class="nav_top__tabbar2 d-none d-md-block">
    <div class="container col-lg-8 mb-0">
      <ul class="list-unstyled d-flex scrollable-list mb-0">
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'top' ? ' active' : '' %>" href="/" style="color: #616161;">ホーム</a></p></li>
        <li class="text-center"><a class="top__tabbar2<%= controller.controller_name == 'races' ? ' active' : '' %>" href="/races/search" style="color: #616161;">買いレース</a></li>
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'eatings' ? ' active' : '' %>" href="/eatings<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">過去の買いレース</a></p></li>
        <li class="text-cente"><p><a class="top__tabbar2<%= controller.controller_name == 'horses' ? ' active' : '' %>" href="/horses<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">競走馬一覧</a></p></li>
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'stalions' ? ' active' : '' %>" href="/stalions<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">種牡馬一覧</a></p></li>
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'courses' ? ' active' : '' %>" href="/courses<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">コース一覧</a></p></li>
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'csv' ? ' active' : '' %>" href="/csv<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">CSV入力</a></p></li>
        <li class="text-center"><p><a class="top__tabbar2<%= controller.controller_name == 'settings' ? ' active' : '' %>" href="/settings<%= @my_pref.present? ? "/#{@my_pref.pref_key}" : '' %>" style="color: #616161;">設定</a></p></li>
      </ul>
    </div>
  </div>
<% end %>
