<main class="bg-white h-100">

  <div class="container col-lg-8 py-5">
    <%= react_component('calendarComponent',
      {
        props: "Hello World"
      })
    %>
  </div>
  <%
=begin%>
 仮
<%
=end%>
    <%
=begin%>
 <div class="container col-lg-8 py-3">
      <div class="row">
        <%= render partial: 'horses/horse_box' %>
        <%= render partial: 'horses/horse_box' %>
        <%= render partial: 'horses/horse_box' %>
        <%= render partial: 'horses/horse_box' %>
      </div>
    </div> 
<%
=end%>
    <%
=begin%>
 仮 
<%
=end%>
</main>
